body {
  font-size: 16px;
  font-family: Arial;
  background-color: #38220f;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

/* --------------------- Navigation Menu ----------------- */

.navigation-menu {
  background: rgb(5, 215, 166);
  color: #e6b17e;
  height: 6vh;
  list-style: none;
}

.navigation-menu ul {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navigation-menu li {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 13px;
  text-align: center;
  font-weight: bold;
}

.navigation-menu li:hover {
  color: #38220f;
}

.navigation-menu a {
  text-decoration: none;
  color: rgb(246, 220, 118); /* Cream color */
  font-weight: bold;
}

.navigation-menu a:hover {
  color: #38220f;
}

.navigation-menu a:visited {
  color: rgb(185, 185, 185);
}

.navigation-menu a:active {
  color: green;
}

/* --------------------- Header ----------------- */

.page-header {
  text-align: center;
  padding: 20px 0;
}

/* --------------------- Balance Due ----------------- */

.js-balance {
  display: inline-block;
}

.payment-options {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #38220f;
}

.payment-option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.pay-store {
  grid-column: 1;
  grid-row: 1;
}

.payment-form {
  grid-column: 1;
  grid-row: 2;
}

.custRequest {
  margin-top: auto;
  margin-bottom: auto;
  grid-column: 2;
  grid-row: 1 / span 2;
}

.footer {
  background: #332116;
  color: white;
  text-align: center;
  line-height: 6vh;
  /*font-size: 0.9rem;*/
}
