body {
  font-size: 16px;
  font-family: Arial;
  background-color: #38220f;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

/* -------------------- Navigation Menu -------------------- */

.navigation-menu {
  background: #38220f;
  color: white;
  height: 6vh;
  list-style: none;
}

.navigation-menu ul {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navigation-menu li {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 13px;
  text-align: center;
  font-weight: bold;
}

.navigation-menu li:hover {
  color: #e6b17e;
}

.navigation-menu a {
  text-decoration: none;
  color: rgb(246, 220, 118);
  font-weight: bold;
}

.navigation-menu a:hover {
  color: rgb(5, 215, 166);
}

.navigation-menu a:visited {
  color: rgb(185, 185, 185);
}

.navigation-menu a:active {
  color: green;
}

/* -------------------- Header -------------------- */
.page-header {
  text-align: center;
  padding: 20px 0;
}

/* ----------------- Validate Form Input -------------- */
input:focus,
select:focus,
textarea:focus {
  background-color: rgb(220, 255, 220);
}

input#name:focus:valid,
input#postalcode:focus:valid,
input#phone:focus:valid,
input#email:focus:valid,
input#checkbox:focus:valid,
input#text:focus:valid {
  background-color: rgb(220, 255, 220);
}

input#name:focus:invalid,
input#postalcode:focus:invalid,
input#phone:focus:invalid,
input#email:focus:invalid,
input#checkbox:focus:invalid,
input#text:focus:invalid {
  background-color: rgb(255, 232, 233);
}

/* ---------------- Form Fields for Create Account ---------------- */
.createAccount-input {
  text-align: center;
}

.createAccount-input input,
button {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.createAccount-form {
  text-align: center;
  height: auto;
}

.createAccount-form input,
button {
  margin-bottom: 10px;
  line-height: 2;
  margin-bottom: 10px;
}

.createNewAccount-button {
  border: 3px solid rgb(5, 215, 166);
  padding: 15px;
  color: rgb(246, 220, 118);
  background-color: #38220f;
}

/* -------------------- Footer -------------------- */
.footer {
  background: #332116;
  color: white;
  text-align: center;
  line-height: 6vh;
  /*font-size: 0.9rem;*/
}
