body {
  font-size: 16px;
  font-family: Arial;
  background-color: #38220f;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

/* -------------------- Navigation Menu -------------------- */
.navigation-menu {
  background: rgb(5, 215, 166);
  color: white;
  height: 6vh;
  list-style: none;
}

.navigation-menu ul {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navigation-menu li {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 13px;
  text-align: center;
  font-weight: bold;
}

.navigation-menu li:hover {
  color: #e6b17e;
}

.navigation-menu a {
  text-decoration: none;
  color: rgb(246, 220, 118); /* Cream color */
  font-weight: bold;
}

.navigation-menu a:hover {
  color: #38220f;
}

.navigation-menu a:visited {
  color: rgb(185, 185, 185);
}

.navigation-menu a:active {
  color: green;
}

/* -------------------- Header -------------------- */
.page-header {
  text-align: center;
  padding: 20px 0;
}

/* -------------------- Drink Prices Table -------------------- */

.coffee-table {
  width: 66.66%;
  border-collapse: collapse;
  margin: 0 auto;
}

.coffee-table th,
.coffee-table td {
  border: 1px solid rgb(5, 215, 166);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: #38220f;
}

.coffee-table th {
  background-color: #e6b17e;
  font-weight: bold;
  border-radius: 10px;
}

.coffee-table td {
  background-color: #f6e6d5;
  border-radius: 10px;
}

.coffee-table,
td:hover {
  background-color: rgb(5, 215, 166);
}

h2 {
  text-align: center;
}

/* -------------------- Products Grid -------------------- */
.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  grid-auto-rows: minmax(450px, auto); /* each row at least 450px */
  gap: 20px; /* spacing between products */
  margin-top: 20px;
  padding: 0 10px;
}

.products {
  border: 2px solid rgb(5, 215, 166);
  border-radius: 10px;
  background-color: rgba(234, 200, 64, 0.283);
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.products img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-options {
  text-align: left;
  margin-top: 10px;
  line-height: 2;
}

.add-cart {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"] {
  width: 20%;
  padding: 3px;
}

/* --------------------- Footer --------------------- */

.footer {
  background: #332116;
  color: white;
  text-align: center;
  line-height: 6vh;
}
